body{
    background-color: rgb(61, 106, 230);
    font: normal 20pt Arial;
}

header{
    color: aliceblue;
    text-align: center;

}

section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px black;
}

footer{
    color: rgb(38, 47, 54);
    text-align: center;
    font-size: 20px;
    font-style: italic;

}
#div1 {
    text-align: center; 
}
#div2 {
    text-align: center; 
}
#img{
    border-radius: 50%;
    padding: 5px;
    

}